body{
    margin: 0;
    font-family: 'Salsa',cursive;
}
.jhalar{
    width: 220px;
    margin-bottom: -190px;
}
.hero-section{
    /* min-height: 100vh; */
    background-color: #F99501;
    background-image: url(./images/orange-backdrop.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.paragraph-and-audio{
    margin-left: 15rem;
}
.hero-section p {
    font-size: 3rem;
    font-weight: 400;
    font-family: 'Salsa',cursive;
    max-width: 550px;
    
    
}

.audio-container{
    background-color: #FBD8A4;
    max-width: max-content;
    border-radius: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
}
audio::-webkit-media-controls-play-button,
     audio::-webkit-media-controls-panel {
     background-color: #FBD8A4;
     
     }

.laxmi-ganesha-section{
    background-color: #F99501;
    padding-top: 1rem;
    padding-inline: 1rem;
    padding-block: 1rem;
    
}
.horizontal-divider{
    display: flex;
    align-items: center;
    gap: 12px;
    max-width: 810px;
    margin-inline: auto;
    margin-bottom: 2rem;
}
.horizontal-line{
   
    height: 5px;
    background-color: #FBD8A4;
    width: 470px;
}
.circle{
    width: 10px;
    height: 10px;
    background-color: #FBD8A4;
    border-radius: 100%;
    flex-shrink: 0;
}
.laxmiganeshaimg{
    max-width: 900px;
    width: 100%;
    display: block;
    margin-inline: auto;
    
}
.laxmi-ganesha-section h2 {
    font-family: 'Style-Script',cursive ;
    font-size: 54px;
    font-weight: 400;
    text-align: center;
}
.white-card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}
.white-card{
    background-color: #fff;
    max-width: 520px;
    padding: 4rem;
    border-radius: 24px;
    
}
.white-card p {
    font-size: 2rem;
   
}
.little-girl{
    max-width: 260px;
    margin-left: -5rem;
}


.laxmi-ganesha-card{
    background-color: #FFF6E9;
    padding: 4rem;
    border-radius: 24px;
    max-width: 772px;
   
    display: flex;
    margin-inline: auto;
}
.laxmi-ganesha-card img{
    width: 50%;
}
.footer-text{
    max-width: 900px;
    margin-inline: auto;
    width: 100%;
    /* padding-block: 1rem;
    padding-left: 0;
    padding-right: 8rem; */
}
.footer-text h2{
    text-align: left;
    color: #fff;
}
/* Media Query for Hero Section */

@media (max-width : 840px){
    .first-deepak{
        display: block;
        margin-left: auto;
    }
    .second-deepak{
        display: none;
    }
    .paragraph-and-audio{
        margin-left: 1rem;
    }
    .jhalar{
        margin-bottom: 0;
    }
    .hero-section p{
        font-size: 32px;
    }
}

@media (max-width:750px) {
    .music-text{
        display: none;
    }
    .music-icon{
        display: none;
    }
    .audio-container{
        max-width: max-content;
    }
    .hero-section p{
        font-size: 24px;
    }
    .first-deepak{
        width: 100%;
    }
    .laxmi-ganesha-card{
        padding: 2rem;
    }
}
@media (max-width:400px) {

    .white-card{
        padding-block: 1rem;
        padding-left: 2rem;
    }
    .first-deepak{
        width: 100%;
    }
    .laxmi-ganesha-card{
        padding: 2rem;
    }
}

@media (max-width:650px){
      
    .white-card{
        padding-block: 1rem;
        padding-left: 2rem;
    }
    .white-card p {
        font-size: 1rem;
    }
    .laxmi-ganesha-section h2{
        font-size: 32px;
    }
    .laxmi-ganesha-card{
        padding: 2rem;
    }
}

@media(max-width:480px){


    .white-card{
        padding-block: 1rem;
        padding-left: 2rem;
    }
    .white-card p {
        font-size: 1rem;
    }
    .little-girl{
        max-width: 200px;
    }
    .laxmi-ganesha-card{
        padding: 2rem;
    }
}
@media(max-width:390px){
   
    .white-card{
        padding-block: 1rem;
        padding-left: 2rem;
    }
    .white-card p {
        font-size: 0.5rem;
    }
    .little-girl{
        max-width: 150px;
    }
    .laxmi-ganesha-card{
        padding: 2rem;
    }
}

/* @media (width < 840px){
    .second-deepak{
        display: none;
    }
} */
