body{
    margin: 0;
    font-family: 'Salsa',cursive;
}
.jhalar{
    width: 220px;
    margin-bottom: -190px;
}
.hero-section{
    min-height: 100vh;
    /* background-color: #F99501; */
    background-image: url(./images/orange-backdrop.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.paragraph-and-audio{
    margin-left: 15rem;
}
.hero-section p {
    font-size: 3rem;
    font-weight: 400;
    font-family: 'Salsa',cursive;
    max-width: 400px;
    
}
.audio-container{
    background-color: #FBD8A4;
    max-width: max-content;
    border-radius: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
}
audio::-webkit-media-controls-play-button,
     audio::-webkit-media-controls-panel {
     background-color: #FBD8A4;
     
     }
/* Media Query for Hero Section */

@media (max-width : 840px){
    .first-deepak{
        display: block;
        margin-left: auto;
    }
    .second-deepak{
        display: none;
    }
    .paragraph-and-audio{
        margin-left: 1rem;
    }
    .jhalar{
        margin-bottom: 0;
    }
    .hero-section p{
        font-size: 28px;
    }
}

@media (max-width:750px) {
    .music-text{
        display: none;
    }
    .music-icon{
        display: none;
    }
    .audio-container{
        max-width: max-content;
    }
}

/* @media (width < 840px){
    .second-deepak{
        display: none;
    }
} */
